.rectangle {
    background-color: #FFBB00;
    width: 100%;
    height: 223px;
  }
.firework{
    width: 100%;
    height: 400.18px;
    background-position-x: 0.14px;
    background-position-y: 226.08px;
    background-image: url("medal-fireworks.png");
}
.starRectangle {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 280px;
    margin-top: -39%;
    margin-left: 19%;
  }
.digitImage{
    width: 7.7%;
    height: 8.64%;
    background-position-x: 689.22%;
    background-position-y: 130%;
    margin-left: 346px;
    margin-top: 46px;
}

.how-was-your-overall {
    color: #000000;
    font-family: Muli-ExtraBold;
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    width: 560px;
    text-align: center;
    margin-left: 108px;
    margin-top: 48px;
  }

  .feedbackrectangle {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 216px;
    margin-top: 3%;
    margin-left: 19%;
  }

  .tell-us-what-you-don {
    color: #000000;
    font-family: Muli;
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    width: 560px;
    text-align: center;
    margin-left: 98px;
    position: absolute;
    margin-top: 32px;
  }
  .textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 720px;
    height: 80px;
    position: absolute;
    margin-top: 91px;
    margin-left: 38px;
  }
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #FB0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC3), to(#FB0));
  background: linear-gradient(to bottom, #FC3, #FB0);
  background-origin: border-box;
  border: 1px solid rgba(0, 0, 0, 0.065);
  border-radius: 2px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 600;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 65ms ease-in-out;
  transition: all 65ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  margin-left: 46%;
  margin-top: 1%;
}
.start1{
    width: 2%;
    height: 2%;
    margin-left: 31%;
    margin-top: 3%;
}
.starYellow1{
    width: 2%;
    height: 2%;
    margin-left: 31%;
    margin-top: 3%;
}
.start2{
    width: 3%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.starYellow2{
    width: 3%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.start3{
    width: 4%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.starYellow3{
    width: 4%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.start4{
    width: 5%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.starYellow4{
    width: 5%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.start5{
    width: 6%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.starYellow5{
    width: 6%;
    height: 2%;
    margin-left: 2%;
    margin-top: 3%;
}
.shape {
    background-color: #EEEEEE;
  }
.thankYou{
    width: 83%;
    height: 60%;
    margin-left: 7%;
    margin-top: 1%;
}
.thankYourectangle {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 439px;
    margin-left: 20%;
    margin-top: -11%;
  }
  .we-appriciate-your-v {
    color: #444444;
    font-family: Muli;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 380px;
    text-align: center;
    margin-left: 26%;
  }
  .submitted{
    width: 51%;
    height: 60%;
    margin-left: 24%;
    margin-top: 2%;
}
.thanks-for-coming-ba {
    color: #000000;
    font-family: Muli;
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    width: 380px;
    text-align: center;
    margin-left: 26%;
    margin-top: -3%;
  }
  .youve-already-submi {
    color: #444444;
    font-family: Muli;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 380px;
    text-align: center;
    margin-left: 27%;
  }
  @viewport {
    width: device-width;
    zoom: 1;
  }
  @media only screen and (max-width: 450px){
    .starRectangle {
        background-color: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        width: 338px;
        height: 200px;
        margin-top: -138%;
        margin-left: 7%;
      }

      .digitImage{
        width: 7.7%;
        height: 8.64%;
        background-position-x: 689.22%;
        background-position-y: 130%;
        margin-left: 143px;
        margin-top: 24px;
    }
    
    .how-was-your-overall {
        color: #000000;
        font-family: Muli;
        font-size: 25px;
        font-weight: 800;
        line-height: 34px;
        width: 320px;
        text-align: center;
        margin-left: 3%;
        margin-top: 4%;
    }
      
    
      .feedbackrectangle {
        background-color: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        width: 340px;
        height: 174px;
        margin-top: 2%;
        margin-left: 7%;
      }

      .tell-us-what-you-don {
        color: #000000;
        font-family: Muli;
        font-size: 25px;
        font-weight: 800;
        line-height: 34px;
        width: 320px;
        text-align: center;
        text-align: center;
        margin-left: 3%;
      }
      .textarea {
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        width: 320px;
        height: 80px;
        margin-top: 19%;
        margin-left: 2%;
      }

      .button,
      button,
      input[type="button"],
      input[type="reset"],
      input[type="submit"] {
        width: 345.6px;
        height: 54px;
        margin-left: 7%;
        margin-top: 3%;
      }
    
    .firework{
        width: 100%;
        height: 400.18px;
        background-position-x: 0.14px;
        background-position-y: 226.08px;
        background-image: url("medal-fireworks (1).png");
    }

    .rectangle {
        background-color: #FFBB00;
        width: 100%;  
        height: 193px;
      }

      .thankYourectangle{
        background-color: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
        width: 340px;
        height: 330px;
        margin-left: 7%;
        margin-top: -39%;
      }

      .digitImage{
        width: 7.7%;
        height: 8.64%;
        margin-left: 149px;
        margin-top: 46px;
    }

    .thankYou{
      width: 83%;
      height: 60%;
      margin-left: 7%;
      margin-top: -6%;
  }

    .we-appriciate-your-v {
      color: #444444;
      font-family: Muli;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: 380px;
      text-align: center;
      margin-left: -6%;
    }

    .submitted{
      width: 51%;
      height: 60%;
      margin-left: 24%;
      margin-top: -7%;
    }

    .thanks-for-coming-ba {
      color: #000000;
      font-family: Muli;
      font-size: 25px;
      font-weight: 800;
      line-height: 30px;
      width: 380px;
      text-align: center;
      margin-left: -6%;
      margin-top: -6%;
    }

    .youve-already-submi {
      color: #444444;
      font-family: Muli;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: 380px;
      text-align: center;
      margin-left: -6%;
    }
  
  }
  